:root {
  --background-color: #000; /* Black background */
  --gradient: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.12), /* White at 12% opacity */
    rgba(255, 255, 255, 0.10)  /* White at 1% opacity */
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: var(--background-color); /* Set background color */
  background: var(--gradient), var(--background-color); /* Gradient overlay */
}

.shadow-box {
  position: relative; /* Ensure the ::before pseudo-element is positioned correctly */
  background: var(--background-color); /* Black background for the box */
  border-radius: 30px; /* Rounded corners */
  overflow: hidden; /* Ensures the ::before pseudo-element doesn't overflow */
}

.shadow-box::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3), /* White at 30% opacity */
    rgba(255, 255, 255, 0.05)  /* White at 5% opacity */
  );
  border-radius: 30px;
  opacity: 0.25;
}

.shadow-box * {
  z-index: 2;
  position: relative;
}

